<config>
    <modules>
        <Webshop_RestConnect>
            <version>0.1.0</version>
        </Webshop_RestConnect>
    </modules>
    <frontend>
        <routers>
            <restconnect>
                <use>standard</use>
                <args>
                    <module>Webshop_RestConnect</module>
                    <frontName>restconnect</frontName>
                </args>
            </restconnect>
        </routers>
    </frontend>
</config>