<?xml version="1.0"?>
<config>
    <modules>
        <Webshop_RestConnect>
            <version>0.1.0</version>
        </Webshop_RestConnect>
    </modules>
    <frontend>
        <routers>
            <restconnect>
                <use>standard</use>
                <args>
                    <module>Webshop_RestConnect</module>
                    <frontName>restconnect</frontName>
                </args>
            </restconnect>
        </routers>
    </frontend>
    <models>
        <restconnect>
            <class>Webshop_RestConnect_Model</class>
            <!--
            need to create our own resource, can't just
            use core_resource
            -->
            <resourceModel>restconnect_resource</resourceModel>
        </restconnect>
        <restconnect_resource>
            <class>Webshop_RestConnect_Model_Resource</class>
        </restconnect_resource>
    </models>
</config>