<config>
    <modules>
        <Webshop_BackendSearch>
            <version>0.1.0</version>
        </Webshop_BackendSearch>
    </modules>
    <frontend>
        <routers>
            <backendsearch>
                <use>standard</use>
                <args>
                    <module>Webshop_BackendSearch</module>
                    <frontName>besearch</frontName>
                </args>
            </backendsearch>
        </routers>
    </frontend>
</config>