<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Webshop_BackendProductmanager>
            <version>0.1.0</version>
        </Webshop_BackendProductmanager>
    </modules>
    <frontend>
        <routers>
            <backendproductmanager>
                <use>standard</use>
                <args>
                    <module>Webshop_BackendProductmanager</module>
                    <frontName>backendproductmanager</frontName>
                </args>
            </backendproductmanager>
        </routers>
    </frontend>
    <global>
        <helpers>
            <backendproductmanager>
                <class>Webshop_BackendProductmanager_Helper</class>
            </backendproductmanager>
        </helpers>
    </global>
</config>