<?xml version="1.0"?>
<config>
    <modules>
        <Webshop_BackendAdmin>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Webshop_BackendAdmin>
    </modules>
    <frontend>
        <routers>
            <backendadmin>
                <use>standard</use>
                <args>
                    <module>Webshop_BackendAdmin</module>
                    <frontName>backendadmin</frontName>
                </args>
            </backendadmin>
        </routers>
    </frontend>
</config>