<?xml version="1.0"?>
<config>
    <modules>
        <Webshop_BackendAdmin>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Webshop_BackendAdmin>
    </modules>
    <global>
        <models />
        <blocks />
        <resources />
        <extraconfig />
        <helpers>
            <backendadmin>
                <class>Webshop_BackendAdmin_Helper</class>
            </backendadmin>
        </helpers>
    </global>
    <admin>
        <routers>
            <Webshop_BackendAdmin>
                <use>admin</use>
                <args>
                    <module>Webshop_BackendAdmin</module>
                    <frontName>backendadmin</frontName>
                </args>
            </Webshop_BackendAdmin>
        </routers>
    </admin>
</config>