<?xml version="1.0"?>
<config>
    <modules>
        <Webshop_BackendAdmin>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Webshop_BackendAdmin>
    </modules>
    <global>
        <helpers>
            <backendadmin>
                <class>Webshop_BackendAdmin_Helper</class>
            </backendadmin>
        </helpers>
    </global>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <template>webshop</template>
                    <skin>webshop</skin>
                    <layout>webshop</layout>
                </theme>
            </design>
        </admin>
    </stores>
    <admin>
        <routers>
            <Webshop_BackendAdmin>
                <use>admin</use>
                <args>
                    <module>Webshop_BackendAdmin</module>
                    <frontName>backendadmin</frontName>
                </args>
            </Webshop_BackendAdmin>
        </routers>
        <design>
            <theme>
                <default>backendadmin</default>
            </theme>
        </design>
    </admin>
</config>