<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Page>
            <version>1.6.0.0</version>
        </Mage_Page>
    </modules>

    <default>
        <design>
            <header translate="welcome" module="page">
                <welcome>Test 123123238748935rujekgnfd!</welcome>
            </header>
        </design>
    </default>
</config>

