<config>
    <modules>
        <Webshop_BackendRabattsystem>
            <version>0.1.0</version>
        </Webshop_BackendRabattsystem>
    </modules>
    <global>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <Webshop_BackendRabattsystem_price_observer>
                        <type>singleton</type>
                        <class>Webshop_BackendRabattsystem_Model_Observer</class>
                        <method>get_final_price</method>
                    </Webshop_BackendRabattsystem_price_observer>
                </observers>
            </catalog_product_get_final_price>
        </events>
    </global>
</config>