<?xml version="1.0"?>
<config>
    <modules>
        <Webshop_Checkout>
            <version>1.0</version>
        </Webshop_Checkout>
    </modules>
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <unit />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>

    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <webshop_checkout before="Mage_Checkout">Webshop_Checkout</webshop_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>