<config>
    <modules>
        <Webshop_BackendProductgroupmanager>
            <version>0.1.0</version>
        </Webshop_BackendProductgroupmanager>
    </modules>
    <global>
        <helpers>
            <backendproductgroupmanager>
                <class>Webshop_BackendProductgroupmanager_Helper</class>
            </backendproductgroupmanager>
        </helpers>
    </global>
</config>