<config>
    <modules>
        <Webshop_BackendExcelimport>
            <version>0.1.0</version>
        </Webshop_BackendExcelimport>
    </modules>
    <frontend>
        <routers>
            <backendexcelimport>
                <use>standard</use>
                <args>
                    <module>Webshop_BackendExcelimport</module>
                    <frontName>beexcelimport</frontName>
                </args>
            </backendexcelimport>
        </routers>
    </frontend>
</config>