<config>
    <modules>
        <Webshop_BackendOrdermanager>
            <version>0.1.0</version>
        </Webshop_BackendOrdermanager>
    </modules>
    <frontend>
        <routers>
            <backendordermanager>
                <use>standard</use>
                <args>
                    <module>Webshop_BackendOrdermanager</module>
                    <frontName>bemngorders</frontName>
                </args>
            </backendordermanager>
        </routers>
    </frontend>
</config>