<?xml version="1.0"?>
<config>
    <modules>
        <Webshop_Catalog>
            <version>1.0</version>
        </Webshop_Catalog>
    </modules>

    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <webshop_catalog before="Mage_Catalog">Webshop_Catalog</webshop_catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
</config>