<config>
    <modules>
        <Webshop_BackendContact>
            <version>0.1.0</version>
        </Webshop_BackendContact>
    </modules>
    <frontend>
        <routers>
            <backendcontact>
                <use>standard</use>
                <args>
                    <module>Webshop_BackendContact</module>
                    <frontName>bemngcontact</frontName>
                </args>
            </backendcontact>
        </routers>
    </frontend>
</config>