.header-text{
    height: 110px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.header-text h1 {
    margin-top: 10%;
    margin-right: 20px;
}

.page-title img {
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
}

.nav-cell{
    text-align:center;
    background-color: white;
    padding: 10px;
    border: 1px solid #EDEDED;
}

.nav-cell:hover{
    background-color: #EDEDED;
}

.nav-cell:focus{
    background-color:#EDEDED;
}

.nav-cell a {
    display:block; width:100%;
}

.nav-cell:active{
    background-color: #EDEDED;
}

.top-navi
{
    margin-left: 5px;
}

.logo {
    margin-top: 0px;
}

#info-header a, #info-header a:hover, #info-header a:visited {
    color: white;
}

#info-header .alpha {
    padding-left: 280px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.picTelephoneNumber {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 3px auto 3px;
}

.picSwissFlag {
    width: 29px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 3px auto 3px;
    text-decoration: none;
}

.customNav
{
    vertical-align: middle;
}

a.customNav
{
    top: 50%;
    padding: 0 10px;
    line-height: 44px;
    background: #ffffff;
    /* text-transform: uppercase; */
    text-decoration: none;
}

span.customNav
{

    /* text-transform: uppercase; */
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.block.block-layered-nav.block-layered-nav--no-filters
{
    max-width: 200px;
}

.std img
{
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}